<main>
    <h2>About Me</h2>
    <hr>
    <p>My whole life I have always been interested in technology and coding.
        In high school I was a bit of a nerd-being part of the Math team,
        U.S First Robotics as well as teaching myself to code. I did a little
        bit of coding in college as well. Yet, world events drew my focus to
        international affairs and I served my country in the Marine Corps and
        the C.I.A. In the back of my mind though, I always wondered what would
        have happened if I took the coding path. In early 2015, I decided to
        stop wondering. I decided to change the course of my life. I started a
        journey to learn how to code and to follow my dreams…
    <p>
</main>
