.main_page {
    background-color: white;
    padding: 10px 30px 30px 10px;

}

.main_img_one {
    height: 150px;
    width: 200px;
    float: right;
}

.main_img_two {
    height: 150px;
    width: 200px;
    float: left;
}
