<main class="main_page">
    <h2 class='center'>An Odyssey through Space</h2>
    <hr>
    <p>From this distant vantage point the earth might not seem any particular interest...<p>
    <div>
        <img class="main_img_one" src="../../assets/images/space_one.jpg">
        <p>Thus begins Carl Sagan speaking about Earth and our role in the universe. We
        all our on the pale blue dot adrift through the cosmos.</p>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
        consequat urna in ante auctor convallis. Maecenas id magna tincidunt,
        tristique odio et, eleifend lacus. Vestibulum iaculis sed nisl in
        accumsan. Donec suscipit eu mauris ac posuere. In varius tincidunt
        vestibulum. Aenean eleifend, ex eu consequat porta, tellus purus
        molestie est, ut sodales tellus odio nec elit. Nam quis ante ut tortor
        gravida varius vitae vitae sapien. Maecenas at felis tincidunt, placerat
        sapien in, iaculis augue. Integer nibh risus, sollicitudin quis elit sit
        amet, aliquam lobortis magna.
    </p>
    <div>
        <img class="main_img_two" src="../../assets/images/space_one.jpg">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque
            consequat urna in ante auctor convallis. Maecenas id magna tincidunt,
            tristique odio et, eleifend lacus. Vestibulum iaculis sed nisl in
            accumsan. Donec suscipit eu mauris ac posuere. In varius tincidunt
            vestibulum. Aenean eleifend, ex eu consequat porta, tellus purus
            molestie est, ut sodales tellus odio nec elit. Nam quis ante ut tortor
            gravida varius vitae vitae sapien. Maecenas at felis tincidunt, placerat
            sapien in, iaculis augue. Integer nibh risus, sollicitudin quis elit sit
            amet, aliquam lobortis magna.
        </p>
    </div>
</main>
